@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('../fonts/AvenirLTStd-Medium.otf');
}

@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('../fonts/AvenirLTStd-Light.otf');
}

@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src: url('../fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
    font-family: 'AvenirNextLTPro-It';
    src: url('../fonts/AvenirNextLTPro-It.otf');
}

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('../fonts/AvenirLTStd-Roman.otf');
}

@font-face {
    font-family: 'SabonLTStd-BoldItalic';
    src: url('../fonts/SabonLTStd-BoldItalic.otf');
}

@font-face {
    font-family: 'SabonLTStd-Italic';
    src: url('../fonts/SabonLTStd-Italic.otf');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}

@font-face {
    font-family: 'AvenirLTStd-Black';
    src: url('../fonts/AvenirLTStd-Black.otf');
}
