.sub-menu {
    display: block;
}


#list > div {
    position: relative;
    margin-top: 30px;
}


#list h5 {
    font-family: "AvenirLTStd-Light", sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    color: white;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10%;
}

#list img {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

#list img:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

@media screen and (max-width: 500px) {
    #header-text {
        margin-top: 10px;
        width: 80%;
    }

    #header-text h1 {
        font-size: 20px;
    }

    #header-text p {
        font-size: 10px;
    }

    #list h5 {
        font-size: 12px;
    }
}
